/* Write your CSS code here */
.unordered-list {
  width: 100%;
  margin-bottom: 20px;
}

.blog-list-container {
  width: 60%;
}

@media screen and (max-width: 576px) {
  .unordered-list {
    margin: 0;
    padding: 5px;
  }

  .blog-list-container {
    width: 100%;
  }
}
